#homepage{
    background-color: black;
}

#general{
    padding: 5px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    height: 150px;
    width: 266px;
}

#topmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menulink{
    text-decoration: none;
    color: #8D8D8D;
}
.menulink:hover{
    border: 1px solid #C54E4E;
    border-radius: 10px;

}
.menuitem{
    font-family: fantasy;
}

#stick{
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
}
#stick img{
    height: 30px;
    width: 30px;
}

#actorlist{
    display: flex;
    flex-direction: column;
}
.actresslistcontainer{
    border: 1px solid purple;
    border-radius: 50px;
    margin-left: 400px;
    margin-right:400px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
.movietitle
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    color: whitesmoke;
}

.actresslistcontainer h5{
    color: #9F9F9F;
    font-family: monospace;
}